.nav {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.nav-link {
    color: black;
    font-size: large;
}

img {
    width: 100px;
}

.image {
    padding-right: 50px;
}

div {
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}