.display-card {
    border: 1px solid grey;
    margin: 5px;
    padding: 10px;
    font-size: larger;
}

.title {
    font-weight: bold;
    color: red;
}

.type {
    font-size: 200%;
    font-weight: 350;
}